/*Variables*/
:root {
   --global-light: lightgrey;
   --global-grey: dimgrey;
   --global-dark: darkgrey;

   --primary-color: darkgreen;
   --primary-color-light: green;

   --box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.45);
   --box-shadow-extended: 10px 10px 10px 0px var(--global-grey);
   --inset-box-shadow: inset var(--box-shadow);
}

.display-3 {
   color: var(--primary-color) !important;
}

.name {
   color: var(--primary-color) !important;
   font-size: 2rem !important;
   font-weight: 500 !important;
   white-space: nowrap !important;
}

.jumbotron {
   background: var(--global-light) !important;
   width: 70vw !important;
   margin: auto !important;
   margin-top: 2rem !important;
   box-shadow: var(--box-shadow-extended) !important;
   border: var(--primary-color) 3px solid !important;
}

.btn-primary {
   background: var(--primary-color) !important;
   box-shadow: var(--box-shadow) !important;
   border: var(--primary-color) 1px solid !important;
}

.btn-primary:hover {
   background: var(--primary-color-light) !important;
}

.btn-primary:active:focus {
   background: var(--primary-color-light) !important;
   box-shadow: var(--inset-box-shadow) !important;
}

.popover-header {
   background: var(--global-dark) !important;
}

.popover-body {
   background: var(--global-light) !important;
}

@media (max-width: 675px) {
   .nameLine {
      display: block !important;
   }

   .jumbotron {
      width: 90vw !important;
   }
}
